<!doctype html>
<html lang="en">

<% const title="TalentNinja" %>
  <% const tagline="Your Plug & Play Talent Acquisition Team" %>
    <% const url="https://we-refer.com" %>
      <% const
        description="TalnetNinja provides expertly trained recrutiers that act as your Talent Acquisition team.End to End recruiting, no turn overs, no overpriced contingency fees" %>
        <% const image=url+"/images/card-image-en.jpg" %>
          <% const twitter="@twitter_account" %>

            <head>
              <!-- Required meta tags -->
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1">
              <meta name="robots" content="index, follow">

              <!-- CSS -->
              <link href="css/style.min.css" rel="stylesheet">

              <!-- Web Fonts -->
              <link rel="preconnect" href="https://fonts.googleapis.com">
              <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
              <link
                href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Poppins:wght@300;400;500;600;700&display=swap"
                class="webfont">

              <title>
                <%= title %> - <%= tagline %>
              </title>
              <meta name="description" content="<%= description %>">
              <!-- <link rel="canonical" href="<%= url %>"> -->

              <!-- Open Graph Tags -->
              <meta property="og:title" content="<%= title %> - <%= tagline %>" />
              <meta property="og:type" content="website" />
              <meta property="og:image" content="<%= image %>" />
              <meta property="og:description" content="<%= description %>" />
              <meta property="og:locale" content="en-US" />
              <meta property="og:site_name" content="<%= title %>" />
              <meta property="og:url" content="<%= url %>" />

              <!-- Twitter Cards -->
              <meta name="twitter:card" content="summary_large_image">
              <meta name="twitter:site" content="<%= twitter %>">
              <meta name="twitter:title" content="<%= title %> - <%= tagline %>">
              <meta name="twitter:description" content="<%= description %>">
              <meta name="twitter:image" content="<%= image %>">
              <meta property="twitter:url" content="<%= url %>" />
              <meta name="twitter:creator" content="<%= twitter %>">

              <!-- Favicon -->
              <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
              <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
              <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
              <link rel="manifest" href="images/favicon/site.webmanifest">
              <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#353bc9">
              <meta name="msapplication-TileColor" content="#ffffff">
              <meta name="theme-color" content="#ffffff">

              <!-- Global site tag (gtag.js) - Google Analytics -->
              <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q5TVEKS315"></script>
              <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'G-Q5TVEKS315');
              </script>

              <!-- Language -->
              <link rel="alternate" href="https://we-refer.com/ja/" hreflang="ja">
              <link rel="alternate" href="https://we-refer.com/" hreflang="en">
            </head>

            <body class="en">

              <%- include('_svg-defs'); %>

                <div class="hero-bg">

                  <header class="page-header w-100">
                    <div class="page-header__inner container-xxl d-flex align-items-center justify-content-between">

                      <a class="header-logo fw-600" href="#">
                        <%= title %>
                      </a>

                      <input type="checkbox" class="navTriggerInput" id="navTrigger">
                      <label for="navTrigger" class="navTriggerToggle">
                        <div class="spinner diagonal part-1"></div>
                        <div class="spinner horizontal"></div>
                        <div class="spinner diagonal part-2"></div>
                      </label>

                      <nav class="header-nav">
                        <ul class="d-lg-flex list-unstyled p-0 m-0">
                          <li>
                            <a href="#vision" class="header-nav-item">Vision</a>
                          </li>
                          <li>
                            <a href="#services" class="header-nav-item">Services</a>
                          </li>
                          <li>
                            <a href="#member" class="header-nav-item">Member</a>
                          </li>
                          <li>
                            <a href="#core-values" class="header-nav-item">Core Values</a>
                          </li>
                          <li>
                            <a href="#company" class="header-nav-item">Company</a>
                          </li>
                          <li>
                            <a href="#contact" class="header-nav-item">Contact</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </header>

                  <section id="hero" class="d-flex w-100 align-items-center">
                    <div class="container-xxl">

                      <div class="text-sm-center">
                        <div class="btn-group mb-2 mb-sm-3">
                          <a href="/" class="btn btn-primary btn-sm btn-language" aria-current="page">
                            English
                          </a>
                          <a href="ja/" class="btn btn-outline-primary btn-sm btn-language">
                            日本語
                          </a>
                        </div>
                        <h1 class="text-white mb-4 mb-sm-5">
                          Your Plug & Play Talent Acquisition Team
                        </h1>
                        <p class="text-white">Subscription base Talent Acquisition Service </p>
                      </div>
                    </div>

                  </section>

                </div><!-- .hero-bg -->


                <section id="introduction">
                  <div class="container-xxl text-sm-center">
                    <h2 class="mb-4">Everything You Need<br class="d-none d-sm-block">to Attract & Hire Top Talent</h2>
                    <p>
                    We cover Branding, Sourcing, Interview Process Management to Closing</p>
                  </div>
                </section>

                <section id="vision">
                  <div class="container-xl d-lg-flex justify-content-between">
                    <div class="vision-title">
                      <h2 class="mb-4 text-center text-lg-start">Vision</h2>
                      <h3 class="text-primary ms-sm-2">no turn overs, no overpriced contingency fees
                      </h3>
                    </div>
                    <div class="vision-text pt-2 pt-sm-4">
                      <p>“Japan has one of the most advanced innovation ecosystems globally, however not paired with an
                        equally robust and capable start-up ecosystem.” -- the World Bank Research about Tokyo Startup
                        Ecosystem in 2021</p>
                      <p>Our mission is to transform the Tokyo startup ecosystem to a truly transnational & transversal
                        ecosystem to support innovations to take place and busineses grow in a global scale.</p>
                      <p>We will collaborate with global stakeholders to realize this vision.</p>
                    </div>
                  </div>
                </section>

                <section id="services">
                  <div class="container-xl d-lg-flex justify-content-between">
                    <h2 class="text-center text-lg-start mb-5">Service</h2>
                    <ol class="list-unstyled m-0 p-0">
                      <li class="d-flex mb-4 mb-sm-5">
                        <span class="text-black fw-600 ms-4 d-block">
                          A next-generation web platform
                        </span>
                      </li>
                      <li class="d-flex">
                        <span class="text-black fw-600 ms-4 d-block">Global Events</span>
                      </li>
                    </ol>
                  </div>
                </section>

                <section id="member">
                  <div class="container-lg">
                    <h2 class="text-center mb-5">Member</h2>
                    <ul class="list-unstyled p-0 m-0 member-list">

                      <% var memberData=memberDataEnJson %>
                        <% memberData.forEach(function (value) { %>
                          <li class="d-sm-flex align-items-center mb-5">
                            <div class="lh-0 me-sm-5 text-center mb-4 mb-sm-0">
                              <picture>
                                <source srcset="images/member-<%= value.slug %>.webp" type="image/webp">
                                <source srcset="images/member-<%= value.slug %>.jpg" type="image/jpeg">
                                <img src="images/member-<%= value.slug %>.jpg" loading="lazy" width="256" height="256"
                                  alt="<%= value.name %>'s profile picture" title="<%= value.name %>'s profile picture">
                              </picture>
                            </div>
                            <div class="flex-1">
                              <h3 class="mb-4">
                                <%= value.name %> <small class="d-block mt-1 fw-400">
                                    <%= value.title %>
                                  </small>
                              </h3>
                              <p>
                                <%= value.bio %>
                              </p>
                            </div>
                          </li>
                          <% }); %>

                    </ul>
                  </div>
                </section>

                <section id="core-values">
                  <div class="container-xl">
                    <h2 class="text-center mb-5">Core Values</h2>
                    <ul class="list-unstyled p-0 m-0 core-values-list">

                      <% var valData=valDataJson %>
                        <% valData.forEach(function (value) { %>
                          <li class="px-4 py-5">
                            <div class="lh-0 text-center">
                              <picture>
                                <source srcset="images/val-<%= value.slug %>.webp" type="image/webp">
                                <source srcset="images/val-<%= value.slug %>.png" type="image/png">
                                <img src="images/val-<%= value.slug %>.png" loading="lazy" width="80" height="80"
                                  alt="<%= value.title %> icon" title="<%= value.title %> icon">
                              </picture>
                            </div>
                            <h3 class="text-center text-primary mt-4 mb-3">
                              <%= value.title %>
                            </h3>
                            <p>
                              <%= value.description %>
                            </p>
                          </li>
                          <% }); %>

                    </ul>
                  </div>
                </section>

                <section id="company">
                  <div class="container-xl d-lg-flex justify-content-between">
                    <h2 class="text-center text-lg-start mb-5">Company</h2>
                    <table class="table ms-lg-5 border-top">
                      <tr>
                        <th>Company Name</th>
                        <td>ReachNext Tokyo Inc.</td>
                      </tr>
                      <tr>
                        <th>Establishment</th>
                        <td>2022</td>
                      </tr>
                      <tr>
                        <th>Services</th>
                        <td>
                          <ul class="m-0">
                            <li>WeRefer - A next-generation web platform</li>
                            <li>Global Events</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th>CEO</th>
                        <td>Toji Morimoto</td>
                      </tr>
                      <tr>
                        <th>Location</th>
                        <td>Tokyo, Japan</td>
                      </tr>
                    </table>
                  </div>
                </section>

                <section id="contact" class="d-flex justify-content-center container">
                  <div class="contact-bg">
                    <div class="contact-inner text-center">
                      <h2>Contact Us</h2>
                      <p class="text-white my-4">Please feel free to contact us <br>if you need any further information
                      </p>
                      <div class="contact-email-address pb-2">
                        <img src="images/email-address.svg" loading="lazy" width="474" height="36" alt="Email Address"
                          title="Email Address">
                      </div>
                    </div>
                  </div>
                </section>

                <footer class="text-center page-footer pb-5">
                  © 2022 <%= title %>. All Rights Reserved.
                </footer>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"
                  integrity="sha512-wT7uPE7tOP6w4o28u1DN775jYjHQApdBnib5Pho4RB0Pgd9y7eSkAV1BTqQydupYDB9GBhTcQQzyNMPMV3cAew=="
                  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script>
                  // Language
                  document.addEventListener('click', function (event) {
                    if (!event.target.matches('.btn-language')) return;
                    Cookies.set('languageSwitch', 'true', { path: '/' }, { expires: 1 })
                  }, false);
                  // console.log(Cookies.get('languageSwitch'));
                  const lang = window.navigator.languages || window.navigator.language || window.navigator.userLanguage || window.navigator.browserLanguage;
                  if ((lang[0] === 'ja' || lang[0] === 'ja-JP') && Cookies.get('languageSwitch') === undefined) {
                    location.href = '/ja/';
                  }
                  // console.log(lang);
                </script>

                <script>
                  // WebFont lazy load
                  const webfonts = document.querySelectorAll(".webfont");
                  webfonts.forEach(function (webfont) {
                    webfont.rel = "stylesheet";
                  });
                </script>

                <script>
                  // Sticky header background
                  window.addEventListener("scroll", function () {
                    const header = document.querySelector(".page-header");
                    header.classList.toggle("scroll", window.scrollY > 100);
                  });
                </script>

                <script>
                  const navTrigger = document.querySelector("#navTrigger");
                  const navItems = document.querySelectorAll(".header-nav-item")

                  for (const item of navItems) {
                    item.addEventListener('click', function (event) {
                      console.log('click');
                      if (navTrigger.checked == true) {
                        navTrigger.checked = false;
                      }
                    })
                  }
                </script>

                <script src="js/modernizr-webp.js"></script>
            </body>

</html>
